In [1]:
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('data/peenya.xlsx')

In [6]:
df

        ¶Date  PM2.5¶µg/m3  ¶AQI
0  2024-11-01         78.4   161
1  2024-11-02         62.0   107
2  2024-11-03         54.3    91
3  2024-11-04         52.7    88
4  2024-11-05         37.7   112
..        ...          ...   ...
87 2025-01-27         40.8   100
88 2025-01-28         45.2   113
89 2025-01-29         37.7   112
90 2025-01-30         34.9   106
91 2025-01-31         32.3    84

[92 rows x 3 columns]

In [7]:
# Rename columns for consistency
df.columns = ["Date", "PM2.5", "AQI"]

# Convert 'Date' to datetime format
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')

# Remove rows with missing, '-', or '*' values
df = df.replace(['-', '*'], pd.NA).dropna()

# Convert numerical columns to float
df["PM2.5"] = pd.to_numeric(df["PM2.5"], errors='coerce')
df["AQI"] = pd.to_numeric(df["AQI"], errors='coerce')

# Drop rows that still have NaN values after conversion
df = df.dropna()

# Reset index
df = df.reset_index(drop=True)

# Save cleaned dataset
df.to_csv("cleaned_data.csv", index=False)

print("Cleaned data preview:")
print(df.head())

Cleaned data preview:
        Date  PM2.5  AQI
0 2024-11-01   78.4  161
1 2024-11-02   62.0  107
2 2024-11-03   54.3   91
3 2024-11-04   52.7   88
4 2024-11-05   37.7  112

In [8]:
df

         Date  PM2.5  AQI
0  2024-11-01   78.4  161
1  2024-11-02   62.0  107
2  2024-11-03   54.3   91
3  2024-11-04   52.7   88
4  2024-11-05   37.7  112
..        ...    ...  ...
87 2025-01-27   40.8  100
88 2025-01-28   45.2  113
89 2025-01-29   37.7  112
90 2025-01-30   34.9  106
91 2025-01-31   32.3   84

[92 rows x 3 columns]